/* CSS files add styling rules to your content */

body {
  background-color: black;
  color: white;
}

h1 {
  color: #fee975;
  display:flex;
  justify-content:center;
}

img {
  width: 400px;
}

a {
  color: #0080ff;
}

a:hover {
  color: #17d3ff;
}

.person {
  border: 1px solid white;
}

.person img {
  width: 200px;
}

.Navbar {
    position: sticky;
    top: 0;
    border-bottom: rgb(153, 102, 204)solid 2px;
    display: flex;
    justify-content: space-between;
}

.options a { 
    width: 50vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
}

.a   {
  text-decoration:none;
}